
DienMay/bin/Debug/Data/Database/DienMayThanhDanh.db
DienMay/bin/Debug/DienMay.exe
DienMay/bin/Debug/DienMay.exe.config
DienMay/bin/Debug/DienMay.pdb
DienMay/bin/Debug/DienMay.vshost.exe
DienMay/bin/Debug/DienMay.vshost.exe.config
DienMay/bin/Debug/DienMay.vshost.exe.manifest
DienMay/bin/Debug/EntityFramework.dll
DienMay/bin/Debug/EntityFramework.SqlServer.dll
DienMay/bin/Debug/EntityFramework.SqlServer.xml
DienMay/bin/Debug/EntityFramework.xml
DienMay/bin/Debug/Service.exe
DienMay/bin/Debug/Service.pdb
.vs/DienMay/v14/.suo
DienMay/bin/Debug/Quick access - Shortcut.lnk
DienMay/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DienMay/obj/Debug/DienMay.csproj.FileListAbsolute.txt
DienMay/obj/Debug/DienMay.exe
